create_project -force synth_test {{res_dir}} -part {{part}} 

add_files { {{' '.join(files)}} }

{% if timing %}
add_files -fileset constrs_1 -norecurse {{outdir}}/synth.xdc
{% endif %}

set_property top {{top}} [current_fileset]

update_compile_order -fileset sources_1

launch_runs synth_1

wait_on_run synth_1

open_run synth_1

{% if util %}
report_utilization -force -file {{res_dir}}/utilization.txt -hierarchical
{% endif %}

{% if timing %}
report_timing -path_type end -no_header -file {{res_dir}}/timing.txt
{% endif %}
