PY_SOURCES={{py_sources|join(' ')}}

.PHONY : all clean
all: Makefile.uptodate component.xml

Makefile: {{design_path}} $(PY_SOURCES)
{{"\t"}}pygears ipgen vivado -d {{design_path}} -t {{top_path}} -o {{ip_dir}}{{" -c" if copy else ""}} --intf '{{intf}}' -l {{lang}} {{sv_include_path|join(" ")}} --prjdir {{prjdir}} -m

Makefile.uptodate: Makefile
	make clean
	touch Makefile.uptodate

./hdl: Makefile
{{"\t"}}pygears ipgen vivado -d {{design_path}} -t {{top_path}} -o {{ip_dir}}{{" -c" if copy else ""}} --intf '{{intf}}' -l {{lang}} {{sv_include_path|join(" ")}} --prjdir {{prjdir}}

component.xml: Makefile ./hdl
{{"\t"}}vivado -mode batch -source {{ip_dir}}/script/ippack.tcl -nolog -nojournal

clean:
{{"\t"}}@find . ! -name "Makefile" -type f -exec rm -rf {} +
{{"\t"}}@find . ! \( -name "." -or -name ".." \) -type d -exec rm -rf {} +
